.wrapper {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 100px 1fr 80px;
  grid-template-areas:
    ". header ."
    ". table ."
    ". footer .";
  grid-gap: 5px;
}

#header {
  grid-area: header;
  font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  font-weight: 600;
  padding-left: 8px;
  color: white;
  background-position: right;
  background-size: cover;
}

table {
  grid-area: table;
  max-width: 100%;
  font-family: "Lato", sans-serif;
  /* font-weight: 100; */
  /* border: solid black 1px; */
}

th {
  /* font-weight: 500; */
  padding: 5px;
  text-align: left;
  font-size: 14px;
  color: white;
  background-color: #808080;
  text-transform: uppercase;
  /* opacity: 0.5; */
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
td {
  padding: 10px;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  font-size: 13px;
  color: black;
  width: auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 1400px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 100px 1fr 80px;
    grid-template-areas:
      ". header ."
      ". table ."
      ". footer .";
    grid-gap: 5px;
  }
  #header {
    grid-area: header;
    font-family: "Bebas Neue", cursive;
    font-size: 50px;
    font-weight: 600;
    padding-left: 8px;
    text-align: left;
    color: white;
    background-position: right;
    background-size: cover;
  }
}

@media (max-width: 800px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 80px;
    grid-template-areas:
      "header"
      "table"
      "footer";
    grid-gap: 5px;
    /* border: solid 1px black; */
  }
  #header {
    grid-area: header;
    font-family: "Bebas Neue", cursive;
    font-size: 50px;
    font-weight: 600;
    padding-left: 8px;
    text-align: left;
    color: white;
    background-position: right;
    /* background-size: 250%; */
    background-size: cover;
  }
  #hit-range,
  tr td:nth-child(2) {
    display: none;
    visibility: hidden;
  }
  #damage,
  tr td:nth-child(3) {
    display: none;
    visibility: hidden;
  }
  #notes,
  tr td:nth-child(8) {
    display: none;
    visibility: hidden;
  }
}
